<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="imu_base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.01 0.01 0.01"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.01 0.01 0.01"/>
            </geometry>
        </collision>

        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.035"/>
            <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
        </inertial>
    </link>

    <joint name="imu_to_base" type="fixed">
        <parent link="base_link"/>
        <child link="imu_base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <gazebo reference="imu_base_link">
        <sensor name="imu_sensor" type="imu">
            <pose relative_to="base_link">0 0 0 0 0 0</pose>
            <always_on>1</always_on>
            <update_rate>1000.0</update_rate>
            <topic>imu</topic>
            <gz_frame_id>imu_base_link</gz_frame_id>
        </sensor>
            <sensor name="navsat" type="navsat">
            <always_on>1</always_on>
            <update_rate>1</update_rate>
            <topic>navsat</topic>
            <gz_frame_id>imu_base_link</gz_frame_id>
        </sensor>
    </gazebo>

</robot>
