<?xml version="1.0" ?>
<robot name="ambula_bot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ambula_description)/urdf/ambula_oa/properties.urdf.xacro" />
  <xacro:include filename="$(find ambula_description)/urdf/ambula_oa/robot/base.urdf.xacro" />
  <xacro:include filename="$(find ambula_description)/urdf/ambula_oa/plugin/gazebo_position.urdf.xacro" />
  <!-- <xacro:include filename="$(find ambula_description)/urdf/ambula_oa/plugin/gazebo_control.urdf.xacro" /> -->
  <!-- <xacro:include filename="$(find ambula_description)/urdf/ambula_oa/plugin/ros2_control.urdf.xacro" /> -->
  
  <!-- Robot -->
  <xacro:base length="${base_length}" width="${base_width}" height="${base_height}" mass="${base_mass}"/>

  <!-- Sensor -->
  <xacro:include filename="$(find ambula_description)/urdf/ambula_oa/sensor/depth_camera.urdf.xacro" />
  <xacro:include filename="$(find ambula_description)/urdf/ambula_oa/sensor/imu.urdf.xacro" />

  <!-- <xacro:ambula_ros2_control/> -->

</robot>