<?xml version="1.0" ?>
<!-- Copyright (c) 2016 Robert Bosch GmbH, Germany.
     All rights reserved.

    This file is licensed under the Apache 2.0 license found in the
    LICENSE file in the root directory of this source tree.
-->
<model>
    <name>stair</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Narawit Inyos</name>
        <email>narawit_i@cmu.ac.th</email>
    </author>
    <description>Stair</description>
</model>