joint_state_hardware_order:
  ros__parameters:
    input_topic: /joint_states
    output_topic: /joint_states/hardware

    joint_order:
      - left_waist
      - left_hip
      - left_knee
      - left_wheel
      - right_waist
      - right_hip
      - right_knee
      - right_wheel

    remove_names:
      - world_to_base
      - left_passive_wheel_joint
      - right_passive_wheel_joint
