height_adjust:
  ros__parameters:
    topic_height_cmd: /ambula/height
    topic_left_foot_target: /ambula/left_foot_target
    topic_right_foot_target: /ambula/right_foot_target
    
    default_height: 0.15
    min_height: 0.15
    max_height: 0.30

    foot_offset_x: 0.02
    foot_offset_y: 0.2

left_leg_inverse_kinematic:
  ros__parameters:
    target_topic: /ambula/left_foot_target
    cmd_topic: /ambula/left_leg_joint_cmd
    print_deg: true

    waist_offset_deg: 0.0
    hip_offset_deg: 0.0
    knee_offset_deg: 0.0

    hip_x: 0.0
    hip_y: 0.2
    hip_z: 0.0

    L1: 0.2
    L2: 0.24
    L3: 0.0

    elbow: "down"
    

right_leg_inverse_kinematic:
  ros__parameters:
    target_topic: /ambula/right_foot_target
    cmd_topic: /ambula/right_leg_joint_cmd
    print_deg: true

    waist_offset_deg: 0.0
    hip_offset_deg: 0.0
    knee_offset_deg: 0.0

    hip_x: 0.0
    hip_y: -0.2
    hip_z: 0.0

    L1: 0.2
    L2: 0.24
    L3: 0.0

    elbow: "down"

left_leg_joint_smoother:
  ros__parameters:
    state_topic: /joint_states/hardware
    target_topic: /ambula/left_leg_joint_cmd
    out_topic: /ambula/left_leg_joint_cmd/smoothed
    joint_names: [left_hip, left_knee]

    profile: s_curve       # rectangle | trapezoid | s_curve

    v_max: [5.0, 5.0]      # rad/s
    a_max: [10.0, 10.0]    # rad/s^2
    j_max: [100.0, 100.0]  # rad/s^3 (ใช้เฉพาะ s_curve)

    publish_rate: 200.0
    dt_profile: 0.002

right_leg_joint_smoother:
  ros__parameters:
    state_topic: /joint_states/hardware
    target_topic: /ambula/right_leg_joint_cmd
    out_topic: /ambula/right_leg_joint_cmd/smoothed
    joint_names: [right_hip, right_knee]

    profile: s_curve       # rectangle | trapezoid | s_curve

    v_max: [5.0, 5.0]      # rad/s
    a_max: [10.0, 10.0]    # rad/s^2
    j_max: [100.0, 100.0]  # rad/s^3 (ใช้เฉพาะ s_curve)

    publish_rate: 200.0
    dt_profile: 0.002


convert_to_left_motor:
  ros__parameters:
    joint_in_topic: /ambula/right_leg_joint_cmd
    motor_out_topic: /cmd_joint/left
    print_debug: true

    waist:
      pos_scale: 1.0
      offset_deg: 0.0
      flip: false
      direction: +1
    
    hip:
      pos_scale: 0.314159265
      offset_deg: 70.0
      flip: true
      direction: -1
    
    knee:
      pos_scale: 0.628318531
      offset_deg: 150.0
      flip: false
      direction: -1

convert_to_right_motor:
  ros__parameters:
    joint_in_topic: /ambula/right_leg_joint_cmd
    motor_out_topic: /cmd_joint/right
    print_debug: true

    waist:
      pos_scale: 1.0
      offset_deg: 0.0
      flip: false
      direction: +1
    
    hip:
      pos_scale: 0.314159265
      offset_deg: 71.5
      flip: false
      direction: -1
    
    knee:
      pos_scale: 0.628318531
      offset_deg: 137.0
      flip: true
      direction: -1